{% extends 'include/base.html' %}
{% load static %}

{% block title %}
          <title>404</title>
{% endblock %}

{% block topothercssjs %}
<!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block nav%}
    {% include 'include/simplenav.html' %}
{% endblock %}

{% block content %}
    <div class="container" style="height: 600px;margin-top: 20px">
    <img src="{% static 'img/404.png' %}" alt="">
    <br>
    <div style="text-align: center;">
        <a href="{% url 'home:index' %}" class="primaryAction btn btn-primary">返回首页</a>
    </div>
</div>
{% endblock %}

