{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <title>登录</title>
{% endblock %}


{% block content %}


    <!--content-->
    <div class="container" style="height: 600px;margin-top: 20px">
        <div class="row">
            <div class="col-lg-6 col-xl-6 hidden-xs hidden-sm">
                <div class="card">
                    <div class="card-header">登录</div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {#                                {{ login_form }}#}
                            {% for field in login_form %}
                                <!--去掉冒号-->
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <!--显示错误标签-->
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <spen class="pull-left text-danger">{{ login_form.non_field_errors }}</spen>

                            <small class="form-text text-muted ml-1">还没有账号？<a href="{% url 'users:register' %}"
                                                                              style="color: cornflowerblue; ">注册新账号</a>
                            </small>
                            <br>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" name="remember" id="id_remember" checked
                                       class="custom-control-input">
                                <label for="id_remember" class="custom-control-label">保持登录</label>
                            </div>
                            <small class="form-text text-muted ml-1"><a class="secondaryAction layui-text"
                                                                        href="{% url 'users:forgot_password' %}">忘记密码?</a>
                            </small>
                            <br>
                            <button class="primaryAction btn btn-primary" style="float:right" type="submit" id="submit_login"
                                    @click="on_submit">登录
                            </button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{#底部js#}
{#{% block bottomjs%}#}
{#    <!-- 引入js -->#}
{#<script type="text/javascript" src="{% static 'js/host.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/common.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/login.js' %}"></script>#}
{##}
{#{% endblock %}#}