{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <title>个人中心</title>
{% endblock %}

{% block topothercssjs %}

    <!-- 引入vuejs -->
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>


{% endblock %}

{% block content %}
    <!--content-->
    <div class="container" style="margin-bottom: 20px">
        <div class="row">
            <div class="col-12">
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- username -->
                    <div class="form-group col-md-4">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ username }}">
                    </div>
                    <!--<br><h5 class="col-md-4">暂无头像</h5><br>-->
                    <br>
                    <div class="col-md-4">头像</div>
                    {% if avatar %}
                        <img src="{{ avatar }}" style="max-width: 20%;" class="col-md-4"><br>
                    {% else %}
                        <img src="{% static 'img/mei.png' %}" style="max-width: 20%;" class="col-md-4"><br>
                    {% endif %}
                    <!-- avatar -->
                    <div class="form-group col-md-4">
                        <label for="avatar">上传头像</label>
                        <input type="file" class="form-control-file" name="avatar" id="avatar">
                    </div>

                    <!-- phone -->
                    <div class="form-group col-md-4">
                        <label for="phone">电话</label>
                        <input type="text" class="form-control" disabled="disabled" id="phone" name="phone"
                               value="{{ mobile }}">
                    </div>
                    <!-- desc -->
                    <div class="form-group col-md-4">
                        <label for="desc">简介</label>
                        <!-- 文本区域 -->
                        <textarea type="text" class="form-control" id="desc" name="desc"
                                  rows="12">{{ user_desc }}</textarea>
                    </div>
                    <!-- 提交按钮 -->
                    <ul>
                        <li>昵称: {{ user.nickname }} <a
                                href="{% url 'users:change_nickname' %}?from={{ request.get_full_path }}">修改昵称</a></li>
                        <li>邮箱:{% if user.email %} {{ user.email }} {% else %}未绑定
                            <a href="{% url 'users:bind_email' %}?from={{ request.get_full_path }}">绑定邮箱</a>{% endif %}
                        </li>
                        <li>上一次登录时间:{{ user.last_login | date:'Y-m-d H:i:s' }}</li>
                        <li><a href="{% url 'users:change_password' %}">修改密码</a></li>
                    </ul>

                    <button type="submit" class="btn btn-primary" style="margin-left: 12px">修改</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottomjs %}

    <!-- 引入js -->
    <script type="text/javascript" src="{% static 'js/host.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/center.js' %}"></script>
{% endblock %}

