<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!-- 网站标题 -->
    {% load static %}
    <!--图标-->
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <!-- 在手机显示 -->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">


    {% block topothercssjs %}{% endblock %}


    <!-- 引入css文件 -->
    <link rel="stylesheet" href="{% static 'selfcss.css' %}">


    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入js文件 -->

    <link rel="stylesheet" href="{% static 'selfjs.js' %}">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<body>

{% block login %}

{% endblock %}


{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}


{% block content %} {% endblock %}

<!-- 模态框登录-->
<div class="modal fade" id="login_modal">
    <div class="modal-dialog ">
        <div class="modal-content ">

            <form action="" method="POST" id="login_model_form" style="padding: 20px 20px;">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">登录账号</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                {#<!-- 模态框主体 -->#}
                {% csrf_token %}
                {# login_modal_form在全局settings里, 源头在forms里面#}
                {% for filed in login_modal_form %}

                    {# 去冒号, #}
                    <label for="{{ filed.id_for_label }}">{{ filed.label }}</label>
                    {{ filed }}
                {% endfor %}
                <spen id='login_model_tips' class="text-danger"></spen>

                <small class="form-text text-muted ml-1">还没有账号？<a href="{% url 'users:register' %}"
                                                                  style="color: cornflowerblue; ">注册新账号</a></small>
                <br>
                <div class="custom-control custom-checkbox mb-2">
                    <input type="checkbox" name="remember" id="id_remember" checked class="custom-control-input">
                    <label for="id_remember" class="custom-control-label">保持登录</label>
                </div>
                <small class="form-text text-muted ml-1"><a class="secondaryAction layui-text"
                                                            href="{% url 'users:forgot_password' %}">忘记密码?</a>
                </small>
                <br>
                <button class="primaryAction btn btn-primary " style="float:right" type="submit" id="submit_login"
                        @click="on_submit">登录
                </button>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    //弹窗登录
    $("#login_model_form").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "{% url 'users:login_for_model' %}",
            type: 'POST',
            data: $(this).serialize(),
            cache: false,
            success: function (data) {
                if (data['status'] == 'SUCCESS') {
                    window.location.reload();
                } else {
                    $('#login_model_tips').text('用户名或密码不正确');
                }
            }
        });
    });
</script>

<!-- Footer -->
<footer class="py-3 bg-dark" id="footer">
    <div class="container">
        <h5 class="m-0 text-center text-white">Copyright @ 永生</h5>
    </div>
</footer>

{% block bottomjs %}{% endblock %}


</body>
</html>